<p id="notice"><%= notice %></p>

<h1>Tvshows</h1>
<form action="<%= tvshows_path %>" method="get">
  <input type="text" name="search" placeholder="channel & tvshow">
</form>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Channel</th>
      <th>Favourite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tvshows.each do |tvshow| %>
      <tr>
        <td><%= tvshow.name %></td>
        <td><%= tvshow.time.try(:strftime, "%H:%M") %></td>
        <td><%= tvshow.channel.try(:name) %></td>
         <td><%= tvshow.favourite %></td>
        <td><%= link_to 'Show', tvshow %></td>
        <td><%= link_to 'Edit', edit_tvshow_path(tvshow) %></td>
        <td><%= link_to 'Destroy', tvshow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tvshow', new_tvshow_path %>
